# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx
*.apk
*.ap_
*.aab

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Environment
.env
.env.local
.env.*.local

# Claude Code
.claude/
